#showTrophies img {
    width: 30%;
    padding: 16px;
}
#showmvp img {
    width: 30%;
    padding: 16px;
}

@media screen and (max-width: 700px) {
    #showTrophies img {
        width: 45%;
    }
}


@media screen and (max-width: 400px) {
    #showTrophies img {
        width: 55%;
    }
}

@media screen and (max-width: 700px) {
    #showmvp img {
        width: 45%;
    }
}


@media screen and (max-width: 400px) {
    #showmvp img {
        width: 55%;
    }
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
/* Dotted border */
hr.dotted {
border-top: 3px dotted #bbb;
}

h1 {
    text-align: center;
    padding: 20px;
}
