html {
    scroll-behavior: smooth;
  }

  

#history {
    /*
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    overflow:scroll;*/
  
      /* The image used */
      background-image: url("../Background/emblem3D.jpg");
  
      /* Full height */
      height: 100%; 
    
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }
.textStory {
    color: white;
    /*text-shadow: 2px 2px 4px black;*/
    font-size: x-large;
   /* text-shadow: 0 0 4px pink;*/
}


.img-hover-zoom--colorize img {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
  }
  
  /* The Transformation */
.img-hover-zoom--colorize:hover img {
    filter: grayscale(0);
    transform: scale(1.1);
}
  
.zoom {
    transition: transform .5s, filter 1.5s ease-in-out;
    filter: grayscale(100%);
}
  
.zoom:hover {
    filter: grayscale(0);
    transform: scale(1.1);
}

#showMembers img {
    width: 12%;
    padding: 16px;
}
@media screen and (max-width: 800px) {
    #showMembers img {
        width: 24%;
        padding: 16px;
    }
}

@media screen and (max-width: 400px) {
    #showMembers img {
        width: 30%;
        padding: 16px;
    }
}


#showHall img {
    width: 30%;
    padding: 16px;
}

@media screen and (max-width: 700px) {
    #showHall img {
        width: 45%;
        padding: 16px;
    }
}


@media screen and (max-width: 400px) {
    #showHall img {
        width: 55%;
        padding: 16px;
    }
}


.navbar {
    min-height: 80px;
  }
  
  .navbar-brand {
    padding: 0 15px;
    height: 80px;
    line-height: 80px;
  }
  
  .navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 23px;
    padding: 9px 10px !important;
  }
  
  @media (min-width: 768px) {
    .navbar-nav > li > a {
      /* (80px - line-height of 27px) / 2 = 26.5px */
      padding-top: 26.5px;
      padding-bottom: 26.5px;
      line-height: 27px;
    }
  }