#showOld img {
    width: 12%;
    padding: 16px;
}
#showNew img {
    width: 12%;
    padding: 16px;
}

@media screen and (max-width: 800px) {
    #showNew img {
        width: 24%;
        padding: 16px;
    }
}

@media screen and (max-width: 400px) {
    #showNew img {
        width: 30%;
        padding: 16px;
    }
}

@media screen and (max-width: 800px) {
    #showOld img {
        width: 24%;
        padding: 16px;
    }
}


@media screen and (max-width: 400px) {
    #showOld img {
        width: 30%;
        padding: 16px;
    }
}

/* Dashed border */
hr.dashed {
    border-top: 3px dashed #bbb;
  }
  
/* Dotted border */
hr.dotted {
border-top: 3px dotted #bbb;
}

h1 {
    text-align: center;
    padding: 20px;
}
